:root {
  --font-size: 20px;
  --title-font-size: 50px;
  --block-color: white;
  --title-height: 5rem;
}

/* components */
body {
  font-size: var(--font-size);
  min-height: 100vh;
  margin: 0;

  background: url(../assets/background.png);
  background-size: 100vw auto;
  background-repeat: repeat-y;
}

p {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* title */

.title {
  font-size: var(--title-font-size);
  text-align: center;
  width: 100%;
  height: var(--title-height);
}

/* blocks */

.blocks-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  row-gap: 1rem;
  width: 90%;
}

.block-warper {
  flex-basis: 50%;
}

.blocks-card {
  position: relative;
  display: flex;
  width: 9rem;
  height: 11rem;
  padding: 0.4rem 0rem 0rem 0rem;

  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--block-color);
  border-radius: 0.5rem;
  border: solid black 0.15rem;
}

.blocks-card img {
  position: absolute;
  width: 70%;
  top: 1rem;
}

.blocks-card p {
  position: absolute;
  font-weight: bold;
  width: 100%;
  text-align: center;
  bottom: 0.3rem;
}

.blocks-card:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.blocks-card-empty {
  width: 10rem;
  height: 10rem;
}

/* contact us */
.container {
  position: fixed;
  float: none;
  bottom: 1.5rem;
  right: 1.5rem;
  text-align: center;
}

.cta {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: 2px solid black;
  background-color: white;
  color: #000000;
  transition: width 0.7s;
}
.cta:hover {
  width: 180px;
  transition: width 0.7s;
}

.cta img {
  height: 90%;
  opacity: 1;
  transition: opacity 0.5s;
}

.cta:hover img {
  opacity: 0;
  transition: opacity 0.5s;
}

.cta .button-text {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 1.5rem;
}

.cta:hover .button-text {
  opacity: 1;
  transition: opacity 0.5s;
}

/* logos */
.logo-right {
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 1rem;
}

.logo-left {
  position: absolute;
  height: 4rem;
  width: left;
  left: 1rem;
}

.logo-center {
  height: 100%;
  width: auto;
  left: 1rem;
}

/* menu */
.menu--background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.menu--body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;

  background: white;
}

.menu--body--title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.menu--body-seperator {
  height: 1px;
  width: 80%;
  border-radius: 100px;
  background: black;
}

.menu--body--video-block-container {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 64vw;
  row-gap: 0.5rem;
  position: relative;
}

.menu--body--video-block {
  width: 7rem;
  height: 9rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  border: solid 0.1rem black;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.menu--body--video-block img {
  height: 6rem;
  width: auto;
  margin-top: 0.5rem;
}

.menu--body--video-block p {
  position: absolute;
  bottom: 0.1rem;
  width: 100%;
  text-align: center;
}

.menu--body-exit-button {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: url(https://drive.google.com/uc?export=view&id=1bBEYnmEI2gT8a4L2Pr6wp06Us_U9yIeQ);
  border: 1px solid black;
}

/* video menu */
.menu-video--body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80%;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden;

  background: white;
}

.menu-video--body iframe {
  width: 95%;
  height: auto;
}

.menu-video--body-wrapper {
  height: 80%;
}

.menu-video--body--title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.menu-video--body-seperator {
  height: 1px;
  width: 80%;
  border-radius: 100px;
  background: black;
}

/* edit menu */
.menu-edit--body-wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80%;
  height: 50%;
  overflow-y: auto;
  overflow-x: auto;
  row-gap: 1rem;

  background: white;
}

.menu-edit--body-tile {
  display: flex;
  width: 100%;
}

.menu-edit--body-tile p {
  width: 20%;
}

.menu-edit--body-tile input{
  width: 70%;
  overflow: hidden;
}

.menu-edit--body-submit-button {
  position: absolute;
  bottom: 2rem;
}


.menu--body-edit-button {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: url(https://drive.google.com/uc?export=view&id=1ejW8Zugq6MAdOWQWKJynH_booRUgIL-Z);
  border: black solid 1px;
}

.menu--body-add-button {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 2.5rem;
  background: url(https://drive.google.com/uc?export=view&id=1zqFU55dw5TfKHID7aCJFWsb0NANI8fmr);
  border: black solid 1px;
}

.menu--body-delete-button {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: url(https://drive.google.com/uc?export=view&id=178A4zX0Qz-q3DW55GtegNwjM-VjTayZc);
  border: black solid 1px;
}

/* general stuff */
.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
